@import url(https://fonts.googleapis.com/css?family=Lato);

html, body, #root {
    margin: 0px;
    height: 100%;
    background: #eeeeee;
    font-family: Lato;
}

label {
    display:block;
}
.login-wrapper {
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
  }
  
  .login-header {
    background: black;
    color: white;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background: #333;
  }
  
  .friends-list {
    text-align: center;
    max-width: 600px;
    margin: auto;
  }
  
  .friends-list h1 {
    margin-bottom: 20px;
  }
  
  .friend {
    background: black;
    color: white;
    padding: 10px 0;
    margin-bottom: 10px;
  }
  
  .friend p {
    margin: 0;
    font-weight: bold;
  }

  .add-friend-form {
    text-align: center;
    max-width: 300px;
    margin: auto;
  }
  
  .add-friend-form h1 {
    margin-bottom: 20px;
  }
  
  .add-friend-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-friend-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .add-friend-form button {
    padding: 10px;
    width: 100%;
    background: black;
    color: white;
    border: none;
  }
  
  /* Navbar styling */
  .navbar {
    display: flex;
    justify-content: space-between;
    background: black;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-header {
    font-size: 24px;
  }
  
  .navbar-links a {
    color: white;
    padding: 0 10px;
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
  }